<div class="container">
	<div class="bs-docs-section">
		<div class="row">
			<div class="col-lg-4">
				<div class="page-header">
					<div class="col-lg-4">
						<div class="col-lg-8 col-md-7 col-sm-6">
							<a href="/">
								<img src="/imgs/cows_and_bulls.jpg">
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="page-header">
					<p id="pageHeader" class="lead "></p>
				</div>
				<div class="bs-component">
					<div id="errorMsgLbl" class="alert alert-dismissible alert-danger hidden">
						<p>Please enter valid number.</p>
					</div>
				</div>
			</div>
			<div class="col-lg-4">
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4">
				<div class="col-lg-8 col-md-7 col-sm-6">
					<div class="list-group">
						<a href="#" class="list-group-item">
							<h4 class="list-group-item-heading">Rules:</h4>
							<p class="list-group-item-text">1. All digits are different.</p>
							<p class="list-group-item-text">2. Number can not start with zero.</p>
							<p class="list-group-item-text">3. If some of the digits match the right possitions, they are marked as bulls.</p>
							<p class="list-group-item-text">4. If some of the digits match but they are on other possitions they are marked as cows..</p>
						</a>
					</div>
				</div>
			</div>
			<div id="playerGameTemplate" class="col-lg-4 hidden">
				<div class="bs-component">
					<div class="panel panel-success winGameMsgLbl hidden">
						<div class="panel-heading">
							<h3 class="panel-title"></h3>
						</div>
						<div class="panel-body">
							You win !!!
						</div>
					</div>
				</div>
				<div class="bs-component">
					<div class="input-group">
						<input maxlength="4" type="text" class="form-control txtNumber" placeholder="Enter suggestion">
						<span class="input-group-btn">
							<button class="btn btn-default btnSubmitNum" type="button">Submit number</button>
                        </span>
					</div>
				</div>
				<div class="bs-component">
					<table class="table table-striped table-hover numberInformationLog hidden">
						<thead>
							<tr>
								<th>#</th>
								<th>Number</th>
								<th>Bulls</th>
								<th>Cows</th>
							</tr>
						</thead>
						<tbody>

						</tbody>
					</table>
				</div>
				<div class="bs-component">
					<div class="input-group">
						<span class="input-group-btn">
							<button class="btn btn-default btnNextPlayer hidden" type="button">Next player</button>
                        </span>
					</div>
				</div>
			</div>
			<div id="gameSettingsSection" class="col-lg-4">
				<div class="bs-component">
					<div class="form-group">
						<label class="control-label">Players count:</label>
						<div class="input-group">
							<input id="inputPlayersCount" type="text" class="form-control">
							<span class="input-group-btn">
								<button id="btnSavePlayersCount" class="btn btn-default" type="button">Save</button>
							</span>
						</div>
					</div>
					<div id="configPlayerGroup" class="form-group hidden">
						<label class="control-label">Type:</label>
						<div class="inpyut-group">
							<select id="playerType">
								<option value="human">Human</option>
								<option value="computer">Computer</option>
                        	</select>
						</div>
						<div class="input-group">
							<input id="currentPlayerName" type="text" class="form-control" id="inputNumber" placeholder="Name">
							<span class="input-group-btn">
								<button id="btnAddPlayer" class="btn btn-default" type="button">Add</button>
							</span>
						</div>
					</div>
					<table id='informationLog' class="table table-striped table-hover hidden">
						<thead>
							<tr>
								<th>#</th>
								<th>Player name</th>
								<th>Type</th>
							</tr>
						</thead>
						<tbody></tbody>
					</table>
					<span class="input-group-btn">
						<button id="btnStartGame" class="btn btn-default hidden" type="button">Start game</button>
					</span>
				</div>
				<div class="bs-component">
				</div>
				<div class="bs-component">
				</div>
			</div>
			<div class="col-lg-4">
			</div>
		</div>
	</div>
</div>
<!-- include bower componets -->
<script src="/bower_components/socket.io-client/socket.io.js"></script>
<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/bower_components/bluebird/js/browser/bluebird.min.js"></script>
<script src="/bower_components/jquery-ui/jquery-ui.min.js"></script>
<!-- TODO: Add module loader for better dependencies management -->
<script src="/scripts/game.core.logic.js"></script>
<script src="/scripts/game.panel.js"></script>
<script src="/scripts/computer.guesses.logic.js"></script>
<script src="/scripts/game.players.js"></script>
<script src="/scripts/n.players.vs.computer.js"></script>