<div class="container">
	<div class="bs-docs-section">
		<div class="row">
			<div class="col-lg-4">
				<div class="bs-component">
					<div class="col-lg-8 col-md-7 col-sm-6">
						<div id="currentUser" class="alert alert-dismissible alert-success hidden">
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4">
				<div class="page-header">
					<div class="col-lg-4">
						<div class="col-lg-8 col-md-7 col-sm-6">
							<a href="/">
								<img src="/imgs/cows_and_bulls.jpg">
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="bs-component">
				</div>
				<div class="bs-component">
					<div class="panel panel-default">
						<div class="panel-body" class="hidden">
							<ol id="oppnentName">
								You are playing against <strong> {{{opponentId}}} </strong>
							</ol>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4">

			</div>
		</div>
		<div class="row">
			<div class="col-lg-4">
			</div>
			<div class="col-lg-5">
				<div class="bs-component">
					<div class="input-group">
						<input id="txtNumber" maxlength="4" type="text" class="form-control hidden" id="inputNumber" placeholder="Enter your number">
						<span class="input-group-btn">
						<button id="btnSaveNum" class="btn btn-default hidden" type="button">Save number</button>
                    </span>
						<span class="input-group-btn">
						<button id="btnStartGame" class="btn btn-default" type="button">Start new game</button>
					</span>
					</div>
					<div id="submitNumSection" class="input-group">
						<input id="inputNumber" maxlength="4" type="text" class="form-control hidden" placeholder="Enter suggestion">
						<span class="input-group-btn">
						<button id="btnSubmitNum" class="btn btn-default hidden" type="button">Submit number</button>
                    </span>
					</div>
				</div>
				<div class="bs-component">
					<div id="winGameMsgLbl" class="panel panel-success hidden">
						<div class="panel-heading">
							<h3 class="panel-title"></h3>
						</div>
						<div class="panel-body">
							You win !!!
						</div>
					</div>
					<div id="lostGameMsgLbl" class="panel panel-warning hidden">
						<div class="panel-heading">
							<h3 class="panel-title"></h3>
						</div>
						<div class="panel-body">
							You lose :(
						</div>
					</div>
				</div>
				<div class="bs-component">

				</div>
				<div class="bs-component">
					<table id='informationLog' class="table table-striped table-hover hidden">
						<thead>
							<tr>
								<th>#</th>
								<th>Player</th>
								<th>Number</th>
								<th>Bulls</th>
								<th>Cows</th>
							</tr>
						</thead>
						<tbody>
						</tbody>
					</table>
				</div>

			</div>

		</div>
	</div>
</div>
<script src="/bower_components/socket.io-client/socket.io.js"></script>
<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/bower_components/bluebird/js/browser/bluebird.min.js"></script>
<script src="/bower_components/jquery-ui/jquery-ui.min.js"></script>
<script> 
	var gameId = '{{{gameId}}}'; 
</script>
<script src="/scripts/player_vs_player.js"></script>